
<div id=you_div>
  <h3><%= @quote %></h3>
  <h3>-You</h3>
</div>

<div id=coach_div>
  <h3><strong><%= @answer %></strong></h3>
  <h3><em>-Your Coach</em></h3>
</div>
<p class=links><%= link_to "Ask again?", ask_path %></p>
